Przyklad 6.2.2.1/Przyklad_6_2_2_1.json
[{"id":"e75d815f.a529a","type":"tab","label":"Przyklad 6.2.2.1","disabled":false,"info":""},{"id":"ef85f06d.57321","type":"s7 in","z":"e75d815f.a529a","endpoint":"c85e3f7a.9ae67","mode":"all","variable":"","diff":true,"name":"Dane z PLC","x":110,"y":120,"wires":[["a56f3227.bd003","e1bd5063.81c68"]]},{"id":"a56f3227.bd003","type":"debug","z":"e75d815f.a529a","name":"Wyświetlenie danych","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":120,"wires":[]},{"id":"da7f5ca7.8ca1e","type":"comment","z":"e75d815f.a529a","name":"Pobranie danych ze sterownika SIMATIC S7-1500","info":"","x":230,"y":60,"wires":[]},{"id":"e1bd5063.81c68","type":"link out","z":"e75d815f.a529a","name":"Digital_PLC_Data","links":["122a2d49.6d39b3"],"x":275,"y":160,"wires":[]},{"id":"c85e3f7a.9ae67","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.137.10","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"2000","timeout":"10000","name":"Digital_PLC","vartable":[{"addr":"DB20,S0.255","name":"WelcomeString"},{"addr":"DB20,INT256","name":"IntValue_0"},{"addr":"DB20,INT258","name":"IntValue_1"},{"addr":"DB20,INT260","name":"IntValue_2"},{"addr":"DB20,INT262","name":"IntValue_3"},{"addr":"DB20,INT264","name":"IntValue_4"},{"addr":"DB20,REAL266","name":"RealValue_0"},{"addr":"DB20,REAL270","name":"RealValue_1"},{"addr":"DB20,REAL274","name":"RealValue_2"},{"addr":"DB20,REAL278","name":"RealValue_3"},{"addr":"DB20,REAL282","name":"RealValue_4"},{"addr":"DB20,X286.0","name":"BoolValue_0"},{"addr":"DB20,X286.1","name":"BoolValue_1"},{"addr":"DB20,X286.2","name":"BoolValue_2"},{"addr":"DB20,X286.3","name":"BoolValue_3"},{"addr":"DB20,X286.4","name":"BoolValue_4"}]}]