Przyklad_6.2.2.2/Przyklad_6_2_2_2.json
[{"id":"d33ccb7b.49a358","type":"tab","label":"Przyklad 6.2.2.2","disabled":false,"info":""},{"id":"122a2d49.6d39b3","type":"link in","z":"d33ccb7b.49a358","name":"","links":["e1bd5063.81c68"],"x":55,"y":120,"wires":[["e34a0dc5.48df1"]]},{"id":"e34a0dc5.48df1","type":"function","z":"d33ccb7b.49a358","name":"Agregacja wybranych zmiennych","func":"// Deklaracja zmiennych i stałych\nconst aggregationRange = 5\nlet intValue_0_Arr = context.get('intValue_0_Arr') || [],\n    intValue_1_Arr = context.get('intValue_1_Arr') || [],\n    realValue_0_Arr = context.get('realValue_0_Arr') || [],\n    realValue_1_Arr = context.get('realValue_1_Arr') || []\nlet counter = context.get('counter') || 0\n\n// Przepisanie ostatnich 10 wartości zmiennych do tablicy\nif (counter < aggregationRange) {\n    intValue_0_Arr.push(msg.payload.IntValue_0)\n    intValue_1_Arr.push(msg.payload.IntValue_1)\n    realValue_0_Arr.push(msg.payload.RealValue_0)\n    realValue_1_Arr.push(msg.payload.RealValue_1)\n    \n    context.set('intValue_0_Arr', intValue_0_Arr)\n    context.set('intValue_1_Arr', intValue_1_Arr)\n    context.set('realValue_0_Arr', realValue_0_Arr)\n    context.set('realValue_1_Arr', realValue_1_Arr)\n    \n    counter += 1\n    context.set('counter', counter)\n} else {\n    msg.payload = {\n        'IntValue_0_Avg': intValue_0_Arr.reduce(sum, 0) / aggregationRange,\n        'IntValue_1_Avg': intValue_1_Arr.reduce(sum, 0) / aggregationRange,\n        'RealValue_0_Avg': realValue_0_Arr.reduce(sum, 0) / aggregationRange,\n        'RealValue_1_Avg': realValue_1_Arr.reduce(sum, 0) / aggregationRange,\n        \n    }\n    \n    context.set('intValue_0_Arr', [])\n    context.set('intValue_1_Arr', [])\n    context.set('realValue_0_Arr', [])\n    context.set('realValue_1_Arr', [])\n    \n    counter = 0\n    context.set('counter', counter)\n    return msg\n}\n\n// Deklaracja funkcji pomocniczej\nfunction sum (a, b) { return a + b }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["d966c378.03d75","6fec2155.f4ecf"]]},{"id":"c965eff6.6af89","type":"debug","z":"d33ccb7b.49a358","name":"Wyświetlanie wskaźników KPI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":40,"wires":[]},{"id":"d966c378.03d75","type":"function","z":"d33ccb7b.49a358","name":"Obliczanie wskaźników KPI","func":"// Deklaracja zmiennych\nlet OEE, MTTF, MTBF, MTTR\n\n// Wyliczanie symulowanych wskaźników KPI\nOEE = 0.0001 * msg.payload.IntValue_0_Avg * msg.payload.IntValue_1_Avg * msg.payload.RealValue_0_Avg\nMTTF = (msg.payload.RealValue_0_Avg * 100 - msg.payload.IntValue_0_Avg - 10) / Math.ceil(Math.random() * 5)\nMTTR = (msg.payload.IntValue_0_Avg - 10) * 0.1 / Math.ceil(Math.random() * 5)\nMTBF = MTTR + MTTF\n\n// Zwrócenie obiektu zawierającego wszystkie wskaźniki\nmsg.payload = {\n    'OEE': OEE.toFixed(2),\n    'MTTF': MTTF.toFixed(2),\n    'MTTR': MTTR.toFixed(2),\n    'MTBF': MTBF.toFixed(2)\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":120,"wires":[["c965eff6.6af89","bd9407e1.156638","d731cf2b.00e7e","f64ffd8.feb76","7d6b54f7.f8582c"]]},{"id":"bd9407e1.156638","type":"ui_gauge","z":"d33ccb7b.49a358","name":"Efektywność","group":"fe1a94df.ec5c08","order":1,"width":0,"height":0,"gtype":"gage","title":"OEE","label":"%","format":"{{msg.payload.OEE}}","min":0,"max":"100","colors":["#b3003e","#e6d200","#3acb8c"],"seg1":"25","seg2":"75","x":890,"y":80,"wires":[]},{"id":"d731cf2b.00e7e","type":"ui_gauge","z":"d33ccb7b.49a358","name":"MTTF","group":"e26fc4af.3f3468","order":1,"width":0,"height":0,"gtype":"donut","title":"MTTF","label":"h","format":"{{msg.payload.MTTF}}","min":0,"max":"10000","colors":["#0095b3","#16c0ac","#3acb8c"],"seg1":"25","seg2":"75","x":870,"y":120,"wires":[]},{"id":"f64ffd8.feb76","type":"ui_gauge","z":"d33ccb7b.49a358","name":"MTTR","group":"38408949.2c2fa6","order":1,"width":0,"height":0,"gtype":"donut","title":"MTTR","label":"h","format":"{{msg.payload.MTTR}}","min":0,"max":"24","colors":["#0fc790","#16c0ac","#b11b40"],"seg1":"1","seg2":"4","x":870,"y":160,"wires":[]},{"id":"7d6b54f7.f8582c","type":"ui_gauge","z":"d33ccb7b.49a358","name":"MTBF","group":"617c4ca9.5479f4","order":1,"width":0,"height":0,"gtype":"donut","title":"MTBF","label":"h","format":"{{msg.payload.MTBF}}","min":0,"max":"10000","colors":["#b3001b","#e1b619","#3acb8c"],"seg1":"1000","seg2":"7500","x":870,"y":200,"wires":[]},{"id":"7d1d7004.063a","type":"ui_chart","z":"d33ccb7b.49a358","name":"Jakość produkcji","group":"dfad8d5f.d07a1","order":1,"width":0,"height":0,"label":"Jakość","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"75","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1e81b3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":180,"wires":[[]]},{"id":"6fec2155.f4ecf","type":"function","z":"d33ccb7b.49a358","name":"Seria","func":"msg = {\n    'topic': 'Jakość', \n    'payload': msg.payload.IntValue_0_Avg\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":180,"wires":[["7d1d7004.063a"]]},{"id":"bd4a487b.94fda8","type":"comment","z":"d33ccb7b.49a358","name":"Agregacja danych i wizualizacja na dashboardzie","info":"","x":220,"y":60,"wires":[]},{"id":"fe1a94df.ec5c08","type":"ui_group","name":"","tab":"27d8ecc0.ad1004","order":1,"disp":false,"width":7,"collapse":false},{"id":"e26fc4af.3f3468","type":"ui_group","name":"","tab":"27d8ecc0.ad1004","order":3,"disp":false,"width":"6","collapse":false},{"id":"38408949.2c2fa6","type":"ui_group","name":"","tab":"27d8ecc0.ad1004","order":2,"disp":false,"width":6,"collapse":false},{"id":"617c4ca9.5479f4","type":"ui_group","name":"","tab":"27d8ecc0.ad1004","order":4,"disp":false,"width":"6","collapse":false},{"id":"dfad8d5f.d07a1","type":"ui_group","name":"","tab":"27d8ecc0.ad1004","order":5,"disp":false,"width":25,"collapse":false},{"id":"27d8ecc0.ad1004","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]